<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CachingEnabled" value="true"/>
		<add key="AbsoluteCacheExpiration" value="24:00:00"/><!-- HH:MM:SS -->
		<add key="SlidingCacheExpiration" value="00:15:00"/><!-- HH:MM:SS -->
		<add key="TodaysStory.MaxLength" value="150"/>
		<add key="TodaysStory.CookieExpiration" value="01:00:00"/><!-- HH:MM:SS -->
		<add key="LocalImpactMapUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/app/default.htm#data="/>
		<add key="LocalImpactMapUrl.RegionStoryFormat" value="http://www.microsoft.com/About/CorporateCitizenship/map/app/default.htm#data={0}z{1}zzz"/><!-- Region Id, Story Id -->
		<add key="LocalImpactMapWS.Timeout" value="45000"/><!-- in milliseconds -->
		<add key="LocalImpactMapWS.ProgramCategoriesUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/wsaspx/ProgramCategories.aspx"/>
		<add key="LocalImpactMapWS.ProgramsUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/wsaspx/Programs.aspx"/>
		<add key="LocalImpactMapWS.RegionsUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/wsaspx/Regions.aspx"/>
		<add key="LocalImpactMapWS.GetStoriesRetryLimit" value="50"/>
		<add key="LocalImpactMapWS.RandomRegionRetryLimit" value="50"/>
		<add key="LocalImpactMapWS.RegionDetailsUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/wsaspx/RegionDetails.aspx?r="/>
		<add key="LocalImpactMapWS.AllRegionDetailsUrl" value="http://www.microsoft.com/About/CorporateCitizenship/map/wsaspx/AllRegionDetails.aspx"/>
		<add key="LocalImpactMapWS.SaveAllRegionDetailsLocally" value="false"/>
		<add key="IssuesBlogRss.Url" value="http://microsoftontheissues.com/cs/blogs/mscorp/rss.aspx"/>
		<add key="IssuesBlogRss.Timeout" value="30000"/><!-- in milliseconds -->
	</appSettings>
	<connectionStrings/>
	<system.web>
		<trace enabled="true" localOnly="true"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<!-- http://www.iis.net/ConfigReference/system.webServer/urlCompression -->
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<!-- http://www.iis.net/ConfigReference/system.webServer/staticContent -->
		<staticContent>
			<!-- http://www.coderjournal.com/2008/04/iis-7-compress-javascript-gzip/ -->
			<remove fileExtension=".js"/>
			<mimeMap fileExtension=".js" mimeType="text/javascript"/>
			<!-- http://madskristensen.net/post/Add-expires-header-for-images.aspx -->
			<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires"/>
		</staticContent>
	</system.webServer>
</configuration>
